<template>
  <q-page>
    <search-input
      ref="searchInput"
      class="search-input"
      @search="onSearch"
      :disabled="searchInProgress"
    />
    <p class="error" v-show="error">{{ errorMessage }}</p>
    <div class="search-result-container">
      <q-spinner-hourglass
        color="primary"
        size="2em"
        v-show="searchInProgress"
      />
      <movie-list
        :list="hits"
        v-show="hasHits && !searchInProgress"
        @get-details="onGetDetails"
      />
      <p v-show="hasSearched && !hasHits && !searchInProgress">
        No hits. :( Try again!
      </p>
    </div>
  </q-page>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import SearchInput from '../components/search-input/search-input.vue'
import MovieList from '../components/move-list/movie-list.vue'

export default {
  components: {
    SearchInput,
    MovieList,
  },
  mounted() {
    this.$refs.searchInput.focus()
  },
  computed: {
    ...mapState('movieSearch', ['hits', 'error', 'errorMessage']),
    hasHits() {
      return this.hits && this.hits.length > 0
    },
  },
  data() {
    return {
      hasSearched: false,
      searchInProgress: false,
    }
  },
  methods: {
    ...mapActions('movieSearch', ['search', 'searchDetails']),
    onGetDetails(id) {
      this.searchDetails(id)
    },
    async onSearch(query) {
      try {
        this.hasSearched = true
        this.searchInProgress = true
        await this.search(query)
      } finally {
        this.searchInProgress = false
      }
    },
  },
}
</script>

<style scoped lang="scss">
.search-input {
  padding-top: 100px;
}

.error {
  text-align: center;
  color: $negative;
}

.search-result-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
</style>
