<template>
  <div class="search-line-container">
    <q-input
      ref="input"
      outlined
      class="search-input"
      v-model="query"
      :disabled="disabled"
      @keyup.enter="emitSearchEvent"
      @click="$refs.input.select()"
    />
    <q-btn
      color="primary"
      label="Search"
      class="search-btn"
      :disabled="!isValid || disabled"
      @click="emitSearchEvent"
    />
  </div>
</template>

<script>
export default {
  name: 'SearchInput',
  props: {
    disabled: {
      type: Boolean,
      default: false,
    },
  },
  computed: {
    isValid() {
      return this.query && this.query.length > 0
    },
  },
  data() {
    return {
      query: '',
    }
  },
  methods: {
    focus() {
      this.$refs.input.focus()
    },
    emitSearchEvent() {
      if (this.isValid) {
        this.$emit('search', this.query)
      }
    },
  },
}
</script>

<style scoped lang="scss">
.search-line-container {
  display: flex;
  justify-content: center;

  @media screen and (max-width: $breakpoint-xs-max) {
    flex-direction: column;
    * {
      margin: 5px 0px 5px 0px;
    }
  }

  @media screen and (min-width: $breakpoint-xs-max) {
    * {
      margin: 0px 5px 0px 5px;
    }
    .search-input {
      width: 50%;
    }

    .search-btn {
      width: 150px;
    }
  }
}
</style>
