<template>
  <q-list class="search-result-list">
    <div v-for="(movie, index) of list" :key="movie.id">
      <q-expansion-item @before-show="onBeforeShow(index)">
        <template v-slot:header>
          <q-item-section>
            <q-item-label>{{ movie.title }}</q-item-label>
            <q-item-label caption lines="1" class="on-narrow">{{
              movie.actors
            }}</q-item-label>
            <q-item-label caption lines="1">{{ movie.year }}</q-item-label>
          </q-item-section>

          <q-item-section side middle class="on-wide">
            {{ movie.actors }}
          </q-item-section>

          <q-item-section thumbnail class="thumbnail" v-if="movie.image.url">
            <img :src="movie.image.url" :style="setDimensions(movie.image)" />
          </q-item-section>
        </template>
        <q-card class="movie-details">
          <q-card-section v-show="!movie.details" class="spinner-container">
            <q-spinner-hourglass color="primary" size="2em" />
            <p>Searching information on Wikipedia...</p>
          </q-card-section>

          <q-card-section v-show="movie.details">
            {{ movie.details }}
          </q-card-section>

          <q-card-actions>
            <q-btn flat v-if="movie.url" @click="navigateOut(movie.url)"
              >IMDB</q-btn
            >
            <q-btn flat v-if="movie.wikiUrl" @click="navigateOut(movie.wikiUrl)"
              >Wikipedia</q-btn
            >
          </q-card-actions>
        </q-card>
      </q-expansion-item>

      <q-separator spaced inset />
    </div>
  </q-list>
</template>

<script>
const ITEM_HEIGHT = 56

export default {
  name: 'MovieList',
  props: {
    list: {
      type: Array,
      required: true,
      default: () => [],
    },
  },
  methods: {
    onBeforeShow(index) {
      const item = this.list[index]
      if (!item.details) {
        this.$emit('get-details', item.id)
      }
    },
    setDimensions({ width, height }) {
      const ratio = width / height
      const newWidth = Math.round(ITEM_HEIGHT * ratio)
      return {
        height: `${ITEM_HEIGHT}px !important`,
        width: `${newWidth}px !important`,
      }
    },
    navigateOut(url) {
      window.open(url)
    },
  },
}
</script>

<style scoped lang="scss">
/// TODO: should check own width (el.width) instead of screen width
@media screen and (max-width: $breakpoint-sm-max) {
  .on-wide {
    display: none;
  }
}

@media screen and (min-width: $breakpoint-sm-max) {
  .on-narrow {
    display: none;
  }

  .search-result-list {
    width: 50%;

    .thumbnail {
      margin-right: 10px;
    }

    .movie-details {
      margin-top: 20px;
      width: 80%;
      text-align: justify;

      .spinner-container {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }
}
</style>
